@model IEnumerable<MusicPortal.Models.DataBase.Genre>

<div class="container mt-4">
    <h3>Genre Management</h3>
    <button class="addconf" data-toggle="modal" data-target="#addGenreModal">Add Genre</button>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 70%">Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="genreTableBody">
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td>
                       @*  <button type="button" class="btn btn-warning blo" onclick="editGenre(@genre.Id, '@genre.Name')">Edit</button> *@
                       @*  <button type="button" class="btn btn-danger del" onclick="deleteGenre(@genre.Id)">Delete</button>  *@ 
                        <button type="button" class="btn btn-warning blo" onclick="editGenreModal('@Url.Action("EditGenre", "Admin")', @genre.Id, @genre.Name, 'Edit')">Edit</button>
                        <button type="button" class="btn btn-danger del" onclick="deleteGenre('@Url.Action("DeleteGenre", "Admin")', @genre.Id, 'Delete')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" id="addGenreModal" tabindex="-1" role="dialog" aria-labelledby="addGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog centermodal" role="document">
        <div class="modal-content addform">
            <div class="modal-header">
                <h5 class="modal-title" id="addGenreModalLabel">Add New Genre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("AddGenre", "Admin", FormMethod.Post, new { id = "addGenreForm" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group">
                        <label for="genreName">Genre Name</label>
                        <input type="text" class="form-control ppp" id="genreName" name="name" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary conf">Add Genre</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="editGenreModal" tabindex="-1" role="dialog" aria-labelledby="editGenreModalLabel" aria-hidden="true">
    <div class="modal-dialog centermodal" role="document">
        <div class="modal-content addform">
            <div class="modal-header">
                <h5 class="modal-title" id="editGenreModalLabel">Edit Genre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("EditGenre", "Admin", FormMethod.Post, new { id = "editGenreForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" id="editGenreId" name="Id" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editGenreName">Genre Name</label>
                        <input type="text" class="form-control ppp" id="editGenreName" name="name" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary conf">Save Changes</button>
                </div>
            }
        </div>
    </div>