@model IEnumerable<MusicPortal.Models.DataBase.Genre>

<div class="container mt-4">
    <h3>Genre Management</h3>
    <button type="button" class="addconf" data-toggle="modal" data-target="#addGenreModal">Add Genre</button>

    <table class="table">
        <thead>
            <tr>
                <th style="width: 70%">Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="genreTableBody">
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td>
                        <button type="button" class="btn btn-warning blo" onclick="editGenreModal('@Url.Action("EditGenre", "Admin")', @genre.Id, '@genre.Name')">Edit</button>
                        <button type="button" class="btn btn-danger del" onclick="deleteGenre('@Url.Action("DeleteGenre", "Admin")', @genre.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("AddGenreModal")
@Html.Partial("EditGenreModal")