@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model IEnumerable<MusicPortal.Models.DataBase.User>

<br>
<h5>@Localizer["Confirmed Users"]</h5>
<br>

<div class="filter">
    <div class="form-group">
        <label for="statusFilter">@Localizer["Status"]:</label>
        <select id="statusFilter" class="form-control ppp">
            <option value="">@Localizer["All Statuses"]</option>
            <option value="Active">@Localizer["Active"]</option>
            <option value="Blocked">@Localizer["Blocked"]</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nameEmailFilter">@Localizer["Name/Email"]:</label>
        <input type="text" id="nameEmailFilter" class="form-control ppp" placeholder="@Localizer["Filter by name or email"]" />
    </div>
</div><br>

<table class="table">
    <thead>
        <tr>
            <th class="sortable" data-column="email" data-order="asc">Email</th>
            <th class="sortable" data-column="name" data-order="asc">@Localizer["Name"]</th>
            <th class="sortable" data-column="status" data-order="asc">@Localizer["Status"]</th>
            <th class="sortable" data-column="registrationdate" data-order="asc">@Localizer["Registration Date"]</th>
            <th style="text-align:center">@Localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        @foreach (var user in Model.Where(u => u.IsConfirmed && !u.IsAdmin))
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@(user.IsBlocked ? @Localizer["Blocked"] : @Localizer["Active"])</td>
                <td>@user.Timestamp</td>
                <td style="text-align:center">
                    @if (user.IsBlocked)
                    {
                        <button type="button" class="btn btn-primary unbl" onclick="confirmAction('@Url.Action("UnblockUser", "Admin")', @user.Id, 'Unblock')">@Localizer["Unblock"]</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning blo" onclick="confirmAction('@Url.Action("BlockUser", "Admin")', @user.Id, 'Block')">@Localizer["Block"]</button>
                    }
                    <button type="button" class="btn btn-danger del" onclick="confirmAction('@Url.Action("DeleteUser", "Admin")', @user.Id, 'Delete')">@Localizer["Delete"]</button>
                </td>
            </tr>
        }
    </tbody>
</table>
