@model IEnumerable<MusicPortal.Models.DataBase.User>
<br>
<h5>Confirmed Users</h5>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>Status</th>
            <th>Registration Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Where(u => u.IsConfirmed && !u.IsAdmin))
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Name</td>
                <td>@(user.IsBlocked ? "Blocked" : "Active")</td>
                <td>@user.Timestamp</td>
                <td>
                    @if (user.IsBlocked)
                    {
                        <button type="button" class="btn btn-primary unbl" onclick="confirmAction('@Url.Action("UnblockUser", "Admin")', @user.Id, 'Unblock')">Unblock</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-warning blo" onclick="confirmAction('@Url.Action("BlockUser", "Admin")', @user.Id, 'Block')">Block</button>
                    }
                    <button type="button" class="btn btn-danger del" onclick="confirmAction('@Url.Action("DeleteUser", "Admin")', @user.Id, 'Delete')">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
