@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor HttpContextAccessor
@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.Name">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Localizer["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MusicPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nnn">
            <div class="container pan">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark menu" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <div><span id="notification" style="color:red; font-size:15px;"></span></div>
                    </ul>
                    <ul class="navbar-nav">
                        @if (HttpContextAccessor.HttpContext?.Session.GetString("UserName") != null)
                        {
                            var isAdmin = HttpContextAccessor.HttpContext.Session.GetString("UserRole") == "Admin";
                            if (isAdmin)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark menu" asp-controller="Admin" asp-action="Index">@Localizer["Admin Panel"]</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark menu" asp-controller="User" asp-action="Index">@Localizer["User Panel"]</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-dark">@Localizer["Hello"], @HttpContextAccessor.HttpContext.Session.GetString("UserName")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu" asp-controller="Account" asp-action="Logout">@Localizer["Logout"]</a>
                            </li>
                            <li class="nav-item">
                                <label class="nav-link text-dark" asp-for="@requestCulture.RequestCulture.UICulture.Name">@Localizer["Language"]:</label>
                            </li>                           
                            <li class="nav-item">
                                <form asp-controller="Home" asp-action="SetLanguage" method="post" class="form-inline">
                                    <select id="languageSelect" class="form-control" name="culture"
                                            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
                                    </select>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark menu" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark menu" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                            </li>
                            <li class="nav-item">
                                <label class="nav-link text-dark" asp-for="@requestCulture.RequestCulture.UICulture.Name">@Localizer["Language"]:</label>
                            </li>  
                            <li class="nav-item">
                                <form asp-controller="Home" asp-action="SetLanguage" method="post" class="form-inline">
                                    <select id="languageSelect" class="form-control" name="culture"
                                            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems">
                                    </select>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MusicPortal by Alex
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js"></script>
    <script>
        var setLanguageUrl = '@Url.Action("SetLanguage", "Home")';     
        $(function () {
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/notification")
                .build();

            hubConnection.on("displayMessage", function (message) {
                $('#notification').html(message);
            });

            hubConnection.start()
                .then(() => console.log("Connected to NotificationHub"))
                .catch(err => console.error("Error connecting to NotificationHub: ", err));
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
