@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer Localizer
@model IEnumerable<MusicPortal.Models.DataBase.Music>
@{
    ViewData["Title"] = @Localizer["Title"];
    var isAuthenticated = ViewContext.HttpContext.Session.GetString("UserId") != null;
    var isAdmin = ViewData["IsAdmin"] != null && (bool)ViewData["IsAdmin"];
}

<div class="text-center">
    <h1 class="display-4">@Localizer["Best Music Portal"]</h1>
</div>
<br>
<div>
    @if (isAuthenticated)
    {
        @if (isAdmin)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Title"]</th>
                        <th>@Localizer["Artist"]</th>
                        <th>@Localizer["Genre"]</th>
                        <th style="text-align:center">@Localizer["Play"]</th>
                        <th style="text-align:center">@Localizer["Action"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var music in Model)
                    {
                        <tr>
                            <td>@music.Title</td>
                            <td>@music.Artist</td>
                            <td>@music.Genre?.Name</td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary play" onclick="playMusic('@Url.Action("PlayMusic", "Admin", new { id = music.Id })')">@Localizer["Player"]</button>
                            </td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-warning blo" onclick="editMusicModal('@Url.Action("EditMusic", "Admin")', @music.Id, '@music.Title', '@music.Artist', '@music.GenreId')">@Localizer["Edit"]</button>
                                <button type="button" class="btn btn-danger del" onclick="ideleteMusic('@Url.Action("DeleteMusic", "Admin")', @music.Id)">@Localizer["Delete"]</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@Localizer["Title"]</th>
                        <th>@Localizer["Artist"]</th>
                        <th>@Localizer["Genre"]</th>
                        <th style="text-align:center">@Localizer["Play"]</th>
                    </tr>
                </thead>
                <tbody id="musicTableBody">
                    @foreach (var music in Model)
                    {
                        <tr>
                            <td>@music.Title</td>
                            <td>@music.Artist</td>
                            <td>@music.Genre?.Name</td>
                            <td style="text-align:center">
                                <button type="button" class="btn btn-primary play" onclick="playMusic('@Url.Action("PlayMusic", "Admin", new { id = music.Id })')">@Localizer["Player"]</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>@Localizer["Title"]</th>
                    <th>@Localizer["Artist"]</th>
                    <th>@Localizer["Genre"]</th>
                    <th style="text-align:center">@Localizer["Play"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var music in Model)
                {
                    <tr>
                        <td>@music.Title</td>
                        <td>@music.Artist</td>
                        <td>@music.Genre?.Name</td>
                        <td style="text-align:center">
                            <button type="button" class="btn btn-primary play" onclick="playMusic('@Url.Action("PlayMusic", "Admin", new { id = music.Id })')">@Localizer["Player"]</button>
                        </td>                       
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@Html.Partial("EditMusicModal")
@Html.Partial("PlayMusicModal")
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}